{% extends "base.html" %}
{% load static %}

{% block main %}

<div class="col-11 mt-2 mb-3 mx-auto bg-white rounded border border-danger shadow-sm">
    <img class="img-responsive center-block" src="{% url 'sake_log:graph'%}?term={{ term }}" width="100%" alt="折れ線グラフ">
</div>
<div class="row">
    <div>
        <a href="{% url 'sake_log:log' 'today' %}">今日</a>
         | 
        <a href="{% url 'sake_log:log' 'week' %}">1週間</a>
         | 
        <a href="{% url 'sake_log:log' 'month' %}">1ヶ月</a>
         | 
        <a href="{% url 'sake_log:log' 'half_year' %}">半年</a>
         | 
    </div>
    <table class="table">
        <thead>
            <tr>
            <th scope="col">ドリンク</th>
            <th scope="col">日付</th>
            <th scope="col">時刻</th>
            </tr>
        </thead>
        <tbody>
            {% for drink in drinks %}
             <tr>
                 <th scope="row">{{ drink.alcohol.name }}({{ drink.alcohol.amount }})</th>
                <td>{{ drink.created_at|date:"n / j" }}</td>
                <td>{{ drink.created_at|date:"H:i" }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}