{% extends "base.html" %}
{% block main %}
<div class="row">
    <div class="col-11 col-lg-6 mx-auto mt-5">
        <form action="" method="POST">
            <div class="card rounded border border-danger p-4 shadow-sm">
                <div class="card-body">
                    {{ form.non_field_errors }}
                    {% for field in form %}
                        {{ field }}
                        {{ field.errors }}
                        <hr>
                    {% endfor %}
                    <button type="submit" class="btn btn-danger btn-lg btn-block" >ログイン</button>
                    <input type="hidden" name="next" value="{{ next }}" />
                    {% csrf_token %}
                    <div class="mt-4">
                        以下のユーザーでゲストログインできます。<br>
                        メールアドレス：guest@gmail.com<br>
                        パスワード：guest<br>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

<!-- ユーザー情報
user名 : admin
address : admin@gmail.com
password : admin -->